<h2>My Favorite Orgs</h2>

<span>Click Meeee!</span>

<ul>
  {{#each model as |org|}}
    <li><span {{action 'favorite' org.id}}>[Favorite]</span> {{link-to org.id 'org' org.id}}</li>
  {{/each}}
</ul>

{{outlet}}
